.partials-pagination {
    padding-top: 20px;
}

.blocks-pagination {
    padding-top: 20px;
}

.payouts-pagination {
    padding-top: 20px;
}

.badge {
    width: 100%;
    --vz-badge-font-size: 1em;
    --vz-badge-font-weight: 0;
}

.ri-checkbox-circle-colored::before {
    color: green;
}

.ri-error-warning-colored::before {
    color: red;
}

.profile-wid-rounded::before {
    border-top-left-radius: var(--vz-border-radius) !important;
    border-top-right-radius: var(--vz-border-radius) !important;
    border-bottom-left-radius: var(--vz-border-radius) !important;
    border-bottom-right-radius: var(--vz-border-radius) !important;
}

.download-button-div {
    float: left !important;
    padding-top: 20px;
}

.download-button {
    height: 33.5px;
    margin-right: 10px;
}

.custom-difficulty {
    color: grey;
    font-size: initial;
}

.td-center {
    text-align: center;
}

.ri-ticket-2-line-color {
    color: orange;
}
