<app-breadcrumbs title="FAQ" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<!-- what pool.energy -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">What's Pool.Energy?</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <div class="row">
                        <p>
                            Pool.Energy is a chia farming pool.
                            Good equipment can take you only so far.
                            You may be running a few high-power hdd-plotters, but you'll still be just a drop in the Chia farming ocean.
                            The chances that you will actually be able to dig a block are quite slim, despite the fact that you have spent large amounts on your equipment and the electricity needed to operate it.
                            There is no guarantee when you will receive a block reward payment or even if you will receive such a payment.
                            If you want a fixed income, then your chances will be much higher in a chia farming pool.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- minimum payout -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">What's minimum payments?</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <div class="row">
                        <p>
                            Pool.Energy hasn't any minimum payment for payouts.
                            Every plots and every farmer is valuable for us.
                            You are free to join without thinking your farm size.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- calculate pool rewards -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">How to calculate pool rewards?</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <div class="row">
                        <p>
                            We use <strong>PPLNS</strong> (Pay Per Last N Shares) for share chia farmer rewards.
                            When a farmer farm a block, each farmer will earn the share ratio of the last 24 hours of partials sent to the pool.
                            Payouts will happen in an hour when a block is farmed by our farmers. The timing could change because of dust storm but we won't store any chia in our pool wallet.
                            Feel free to check our address from pool status section.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
