<app-breadcrumbs title="FAQ" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<!-- what pool.energy -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">What's Pool.Energy?</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <div class="row">
                        <p>
                            Pool.Energy is a chia farming pool.
                            Good equipment can take you only so far.
                            You may be running a few high-power hdd-plotters, but you'll still be just a drop in the Chia farming ocean.
                            The chances that you will actually be able to dig a block are quite slim, despite the fact that you have spent large amounts on your equipment and the electricity needed to operate it.
                            There is no guarantee when you will receive a block reward payment or even if you will receive such a payment.
                            If you want a fixed income, then your chances will be much higher in a chia farming pool.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- minimum payout -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">What's minimum payments?</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <div class="row">
                        <p>
                            Pool.Energy hasn't any minimum payment for payouts.
                            Every plots and every farmer is valuable for us.
                            You are free to join without thinking your farm size.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- calculate pool rewards -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">How to calculate pool rewards?</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <div class="row">
                        <p>
                            We use <strong>PPLNS</strong> (Pay Per Last N Shares) for share chia farmer rewards.
                            When a farmer farm a block, each farmer will earn the share ratio of the last 24 hours of partials sent to the pool.
                            Payouts will happen in an hour when a block is farmed by our farmers. The timing could change because of dust storm but we won't store any chia in our pool wallet.
                            Feel free to check our address from pool status section.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- farmer settings -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">How to change farmer settings?</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <div class="row">
                        <p>
                            Launcher ID is how a farmer is identified for each NFT plot. That is a long hexadecimal string and not user friendly.
                            For easier identification in our pool, we allow users to set a friendly name in the dashboard, an alias for your launcher ID.
                            <br />
                            <br />
                            <img class="img-50" src="assets/images/poolenergy/faq/farmer-settings.png" alt="farmer settings" />
                            <br />
                            <br />
                            From settings page, you can change your alias, email (notifications), minimum payout and your difficulty.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- login cli -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">How to login (CLI)?</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <div class="row">
                        <p>
                            Grab your launcher ID: <code>chia plotnft show</code>
                            <br />
                            With your launcher ID, get the link: <code>chia plotnft get_login_link -l LAUNCHER_ID</code>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- login gui -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">How to login (GUI)?</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <div class="row">
                        <p>
                            Open Chia GUI and Pooling (1) and select our pool with https://chia.pool.energy (2).
                            Click on the 3 dot menu (3) and then View Pool Login Link (4).
                            <br />
                            <img class="img-30" src="assets/images/poolenergy/faq/login-gui.png" alt="login gui" />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- custom difficulty -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">How to set custom difficulty?</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <div class="row">
                        <p>
                            Our pool adjusts the difficulty based on the number of partials you submit. Here's how it works:
                            <br />
                            <br />
                            First, we set a target number of partials based on the difficulty you chose. Difficulty options are LOWEST, LOW, MEDIUM, HIGH and HIGHEST.
                            Also you can select CUSTOM difficulty with a custom value if you have Gigahorse.
                            <br />
                            The value is your own target number of partials sent per day.
                            For example 100 would set the target number of partials to 100. You should aim to send approximately this number of partials. If you send a lot less or a lot more, the system will adjust the time taken accordingly.
                            <br />
                            - If the number of recent partials is less than the target number and the time taken is less than 80% of the target time, the current difficulty is returned unchanged.
                            <br />
                            - If the number of recent partials is less than the target number, the time taken is adjusted by multiplying it by the ratio of the target number to the number of recent partials.
                            <br />
                            - If the number of recent partials is greater than 150% of the target number, the time taken is also adjusted by decreasing it, so that it appears that you sent fewer.
                            <br />
                            <br />
                            Finally, the new difficulty is calculated by multiplying the current difficulty by the ratio of the target time to the time taken, and returns the the greater value between difficulty and the new difficulty.
                            <br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
