.blocks-pagination {
    padding-top: 50px;
}

.badge {
    width: 75px;
    --vz-badge-font-size: 1em;
    --vz-badge-font-weight: 0;
}

.td-center {
    text-align: center;
}

.ri-ticket-2-line-color {
    color: orange;
}
