<header id="page-topbar">
    <div class="layout-width">
        <div class="navbar-header">
            <div class="d-flex">
                <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger" id="topnav-hamburger-icon" (click)="toggleMobileMenu($event)">
                    <span class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>
                <div class="navbar-brand-box horizontal-logo">
                    <a href="" class="logo">
                        <span class="logo-sm">
                            <img src="assets/images/poolenergy/logo.svg" alt="" height="32">
                        </span>
                        <span class="logo-lg">
                            <img src="assets/images/poolenergy/logo.svg" alt="" height="64">
                        </span>
                    </a>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <div class="ms-1 header-item d-none d-sm-flex">
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle shadow-none" data-toggle="fullscreen" (click)="fullscreen()">
                        <i class='bx bx-fullscreen fs-22'></i>
                    </button>
                </div>
                <div class="ms-1 header-item d-sm-flex">
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle shadow-none light-dark-mode">
                        <i class='bx bx-moon fs-22' (click)="changeMode('dark')"></i>
                        <i class='bx bx-sun fs-22' (click)="changeMode('light')"></i>
                    </button>
                </div>
                <div class="ms-1 header-item d-none d-sm-flex d-join-pool">
                    <a [routerLink]="['/join']">
                        <button type="button" class="btn btn-light custom-toggle custom-button-join" data-bs-toggle="button">
                            <span><i class="ri-rocket-line align-bottom me-1"></i> JOIN OUR POOL</span>
                        </button>
                    </a>
                </div>
                <div class="dropdown ms-1 topbar-head-dropdown header-item" ngbDropdown>
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle shadow-none" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                       @if(flagvalue === undefined){
                        <img src="{{valueset}}" alt="Header Language" height="20" class="rounded">
                       }@else{
                        <img src="{{flagvalue}}" alt="Header Language" height="20" class="rounded">
                       }
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                        @for(item of listLang; track $index){
                            <a href="javascript:void(0);" class="dropdown-item notify-item language py-2" data-lang="eng" (click)="setLanguage(item.text, item.lang, item.flag)" [ngClass]="{'active': cookieValue === item.lang}">
                                <img src="{{item.flag}}" alt="user-image" class="me-2 rounded" height="18"> <span class="align-middle">{{item.text}}</span>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
