.launchers-pagination {
    padding-top: 50px;
}

.trophy-style::before {
    color: gold;
}

.leaderboard-1::before {
    color: gold;
}

.leaderboard-2::before {
    color: #868686;
}

.leaderboard-3::before {
    color: #c49c48;
}

.img-thumbnail-farmer {
    max-width: 20px;
    border-top-left-radius: var(--vz-border-radius) !important;
    border-top-right-radius: var(--vz-border-radius) !important;
    border-bottom-left-radius: var(--vz-border-radius) !important;
    border-bottom-right-radius: var(--vz-border-radius) !important;
}

.td-center {
    text-align: center;
}
