.ri-checkbox-circle-line::before {
    color: green;
}

.ri-error-warning-line::before {
    color: orange;
}

.ri-close-circle-line::before {
    color: red;
}

.wallet-col-size {
    min-width: 50%;
}

.wallet-py-size {
    width: 2000px;
}
