<app-breadcrumbs title="Status" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="col-xl-12">
    <div class="card crm-widget">
        <div class="card-body p-0">
            <div class="row row-cols-md-3 row-cols-1">
                <div class="col col-lg border-end">
                    <div class="py-4 px-3">
                        <h5 class="text-muted text-uppercase fs-13">Blockchain Height</h5>
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <i class="ri-stack-line display-6 text-muted"></i>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h2 class="mb-0">
                                    <span class="counter-value">{{ blockchainHeight }}</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg border-end">
                    <div class="py-4 px-3">
                        <h5 class="text-muted text-uppercase fs-13">Pool Share</h5>
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <i class="ri-pencil-line display-6 text-muted"></i>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h2 class="mb-0"><span class="counter-value">{{ blockchainShare | number:".2-4" }}%</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg border-end">
                    <div class="py-4 px-3">
                        <h5 class="text-muted text-uppercase fs-13">API Status</h5>
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <i class="ri-checkbox-circle-line display-6 text-muted"></i>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h2 class="mb-0"><span class="counter-value">Ok</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg border-end">
                    <div class="py-4 px-3">
                        <h5 class="text-muted text-uppercase fs-13">Pool Status</h5>
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <i class="ri-checkbox-circle-line display-6 text-muted"></i>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h2 class="mb-0"><span class="counter-value">Ok</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg border-end">
                    <div class="py-4 px-3">
                        <h5 class="text-muted text-uppercase fs-13">Wallets Status</h5>
                        <div *ngIf="!pool_wallets" class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <i class="ri-close-circle-line display-6 text-muted"></i>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h2 class="mb-0"><span class="counter-value">Unknown</span></h2>
                            </div>
                        </div>
                        <div *ngIf="pool_wallets && pool_wallets.length != 2" class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <i class="ri-close-circle-line display-6 text-muted"></i>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h2 class="mb-0"><span class="counter-value">Unhealthy</span></h2>
                            </div>
                        </div>
                        <div *ngIf="pool_wallets && pool_wallets.length == 2" class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <i class="ri-checkbox-circle-line display-6 text-muted"></i>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h2 class="mb-0"><span class="counter-value">Healthy</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- wallets -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Pool wallets</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <div class="table-responsive table-card">
                        <table class="table align-middle table-nowrap table-striped-columns mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col" style="width: 100px;">Name</th>
                                    <th scope="col" style="width: 600px;">Address</th>
                                    <th scope="col" style="width: 100px;">Fingerprint</th>
                                    <th scope="col" style="width: 150px;">Amount</th>
                                    <th scope="col" style="width: 100px;">Height</th>
                                    <th scope="col" style="width: 100px;">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let wallet of pool_wallets">
                                    <td>{{ wallet.name || 'unknown' }}</td>
                                    <td>
                                        <a href="https://www.spacescan.io/address/{{ wallet.address }}" target="_blank">
                                            {{ wallet.address }}
                                        </a>
                                    </td>
                                    <td>{{ wallet.balance.fingerprint }}</td>
                                    <td>{{ wallet.balance.confirmed_wallet_balance / 1000000000000 | number:".8-8" }} XCH</td>
                                    <td>{{ wallet.height || '-' }}</td>
                                    <td>
                                        <span *ngIf="wallet.synced && !wallet.syncing" class="badge bg-success-subtle text-success">Synced</span>
                                        <span *ngIf="!wallet.synced && wallet.syncing" class="badge bg-warning-subtle text-warning">Syncing</span>
                                        <span *ngIf="!wallet.synced && !wallet.syncing" class="badge bg-danger-subtle text-danger">Not synced</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- nodes -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Pool nodes</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <div class="table-responsive table-card">
                        <table class="table align-middle table-nowrap table-striped-columns mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col" style="width: 100px;">Name</th>
                                    <th scope="col" style="width: 100px;">Location</th>
                                    <th scope="col" style="width: 100px;">Region</th>
                                    <th scope="col" style="width: 100px;">Height</th>
                                    <th scope="col" style="width: 100px;">Mempool</th>
                                    <th scope="col" style="width: 100px;">Available</th>
                                    <th scope="col" style="width: 100px;">Role</th>
                                    <th scope="col" style="width: 100px;">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let node of pool_nodes">
                                    <td>{{ node.name }}</td>
                                    <td>{{ node.location || '-' }}</td>
                                    <td>{{ node.region || '-' }}</td>
                                    <td>
                                        <span *ngIf="node.available">{{ node.peak_height || '-' }}</span>
                                        <span *ngIf="!node.available">-</span>
                                    </td>
                                    <td>
                                        <span *ngIf="node.available">{{ node.mempool_full_pct + '%' || '-' }}</span>
                                        <span *ngIf="!node.available">-</span>
                                    </td>
                                    <td>
                                        <span *ngIf="node.available && node.enabled" class="badge bg-success-subtle text-success">Yes</span>
                                        <span *ngIf="node.available && !node.enabled" class="badge bg-warning-subtle text-warning">Maintenance</span>
                                        <span *ngIf="!node.available && node.enabled" class="badge bg-danger-subtle text-danger">No</span>
                                    </td>
                                    <td>
                                        <span *ngIf="node.available && node.primary" class="badge bg-success-subtle text-success">Primary</span>
                                        <span *ngIf="node.available && !node.primary" class="badge bg-info-subtle text-info">Standby</span>
                                        <span *ngIf="!node.available" class="badge bg-danger-subtle text-danger">Unavailable</span>
                                    </td>
                                    <td>
                                        <span *ngIf="node.available && node.synced" class="badge bg-success-subtle text-success">Synced</span>
                                        <span *ngIf="node.available && !node.synced" class="badge bg-danger-subtle text-danger">Not synced</span>
                                        <span *ngIf="!node.available" class="badge bg-danger-subtle text-danger">Unavailable</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
