.ri-checkbox-circle-line::before {
    color: green;
}

.ri-error-warning-line::before {
    color: orange;
}

.ri-close-circle-line::before {
    color: red;
}

.wallet-col-size {
    min-width: 50%;
}

.wallet-py-size {
    width: 2000px;
}

.badge {
    width: 75px;
    --vz-badge-font-size: 1em;
    --vz-badge-font-weight: 0;
}
