<app-breadcrumbs title="Status" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="col-xl-12">
    <div class="card crm-widget">
        <div class="card-body p-0">
            <div class="row row-cols-md-3 row-cols-1">
                <div class="col col-lg border-end">
                    <div class="py-4 px-3">
                        <h5 class="text-muted text-uppercase fs-13">Blockchain Height</h5>
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <i class="ri-stack-line display-6 text-muted"></i>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h2 class="mb-0">
                                    <span class="counter-value">{{ blockchainHeight }}</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg border-end">
                    <div class="py-4 px-3">
                        <h5 class="text-muted text-uppercase fs-13">Pool Share</h5>
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <i class="ri-pencil-line display-6 text-muted"></i>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h2 class="mb-0"><span class="counter-value">{{ blockchainShare | number:".2-4" }}%</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg border-end">
                    <div class="py-4 px-3">
                        <h5 class="text-muted text-uppercase fs-13">API Status</h5>
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <i class="ri-checkbox-circle-line display-6 text-muted"></i>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h2 class="mb-0"><span class="counter-value">Ok</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg border-end">
                    <div class="py-4 px-3">
                        <h5 class="text-muted text-uppercase fs-13">Pool Status</h5>
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <i class="ri-checkbox-circle-line display-6 text-muted"></i>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h2 class="mb-0"><span class="counter-value">Ok</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg border-end">
                    <div class="py-4 px-3">
                        <h5 class="text-muted text-uppercase fs-13">Wallets Status</h5>
                        <div *ngIf="!pool_wallets" class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <i class="ri-close-circle-line display-6 text-muted"></i>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h2 class="mb-0"><span class="counter-value">Unknown</span></h2>
                            </div>
                        </div>
                        <div *ngIf="pool_wallets && pool_wallets.length != 2" class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <i class="ri-close-circle-line display-6 text-muted"></i>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h2 class="mb-0"><span class="counter-value">Unhealthy</span></h2>
                            </div>
                        </div>
                        <div *ngIf="pool_wallets && pool_wallets.length == 2" class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <i class="ri-checkbox-circle-line display-6 text-muted"></i>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h2 class="mb-0"><span class="counter-value">Healthy</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- wallet -->
<div class="row" *ngFor="let wallet of pool_wallets; let i = index">
    <div class="col-xl-12">
        <div class="card crm-widget">
            <div class="card-body p-0">
                <div class="row row-cols-md-3 row-cols-1">
                    <div class="col col-lg border-end wallet-col-size">
                        <div class="py-4 px-3 wallet-py-size">
                            <h5 class="text-muted text-uppercase fs-13">Address</h5>
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <i class="ri-wallet-line display-6 text-muted"></i>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h2 class="mb-0">
                                        <span class="counter-value">
                                            <a href="https://xchscan.com/address/{{ wallet.address }}" target="_blank">
                                                <p *ngIf="!walletAddressTruncate">{{ wallet.address }}</p>
                                                <p *ngIf="walletAddressTruncate">{{ wallet.address | maxLength:24 }}</p>
                                            </a>
                                        </span>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg border-end">
                        <div class="py-4 px-3">
                            <h5 class="text-muted text-uppercase fs-13">Amount</h5>
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <i class="ri-coin-line display-6 text-muted"></i>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h2 class="mb-0">
                                        <span class="counter-value">
                                            {{ wallet.balance.confirmed_wallet_balance / 1000000000000 | number:".8-8" }} XCH
                                        </span>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg border-end">
                        <div class="py-4 px-3">
                            <h5 class="text-muted text-uppercase fs-13">Height</h5>
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <i class="ri-checkbox-multiple-line display-6 text-muted"></i>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h2 class="mb-0">
                                        <span class="counter-value">
                                            {{ wallet.height || '-' }}
                                        </span>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg border-end">
                        <div class="py-4 px-3">
                            <h5 class="text-muted text-uppercase fs-13">Status</h5>
                            <div class="d-flex align-items-center" *ngIf="wallet.synced && !wallet.syncing">
                                <div class="flex-shrink-0">
                                    <i class="ri-checkbox-circle-line display-6 text-muted"></i>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h2 class="mb-0"><span class="counter-value">Synced</span></h2>
                                </div>
                            </div>
                            <div class="d-flex align-items-center" *ngIf="!wallet.synced && wallet.syncing">
                                <div class="flex-shrink-0">
                                    <i class="ri-error-warning-line display-6 text-muted"></i>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h2 class="mb-0"><span class="counter-value">Syncing</span></h2>
                                </div>
                            </div>
                            <div class="d-flex align-items-center" *ngIf="!wallet.synced && !wallet.syncing">
                                <div class="flex-shrink-0">
                                    <i class="ri-close-circle-line display-6 text-muted"></i>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h2 class="mb-0"><span class="counter-value">Not synced</span></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- mempool size -->
<div class="row">
    <div class="col-xxl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Mempool Size (7 days)</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <apx-chart
                        *ngIf="mempoolSizeChart && mempoolSizeChart.series && mempoolSizeChart.series.length > 0"
                        [series]="mempoolSizeChart.series"
                        [chart]="mempoolSizeChart.chart"
                        [labels]="mempoolSizeChart.labels"
                        [legend]="mempoolSizeChart.legend"
                        [dataLabels]="mempoolSizeChart.dataLabels"
                        [colors]="mempoolSizeChart.colors"
                        [xaxis]="mempoolSizeChart.xaxis"
                        [yaxis]="mempoolSizeChart.yaxis"
                        [stroke]="mempoolSizeChart.stroke"
                        dir="ltr">
                    </apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>
