<app-breadcrumbs title="Rewards" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<!-- stats -->
<div class="row">
    <div class="col-xl-12">
        <div class="card crm-widget">
            <div class="card-body p-0">
                <div class="row row-cols-md-3 row-cols-1">
                    <div class="col col-lg border-end">
                        <div class="py-4 px-3">
                            <h5 class="text-muted text-uppercase fs-13">Total claimed</h5>
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <i class="ri-wallet-line display-6 text-muted"></i>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h2 class="mb-0"><span class="counter-value">{{ rewardsTotalClaimed }} XCH</span></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg border-end">
                        <div class="py-4 px-3">
                            <h5 class="text-muted text-uppercase fs-13">Total distributed</h5>
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <i class="ri-coin-line display-6 text-muted"></i>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h2 class="mb-0"><span class="counter-value">{{ rewardsTotalDistributed }} XCH</span></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg border-end">
                        <div class="py-4 px-3">
                            <h5 class="text-muted text-uppercase fs-13">Total fee</h5>
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <i class="ri-exchange-line display-6 text-muted"></i>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h2 class="mb-0"><span class="counter-value">{{ rewardsTotalFee }} XCH</span></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- chart -->
<div class="row">
    <div class="col-xxl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Rewards Chart</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <apx-chart
                        [series]="rewardsChart.series"
                        [chart]="rewardsChart.chart"
                        [labels]="rewardsChart.labels"
                        [legend]="rewardsChart.legend"
                        [dataLabels]="rewardsChart.dataLabels"
                        [colors]="rewardsChart.colors"
                        [xaxis]="rewardsChart.xaxis"
                        [yaxis]="rewardsChart.yaxis"
                        dir="ltr">
                    </apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- list -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Rewards</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <div class="table-responsive table-card">
                        <table class="table align-middle table-nowrap table-striped-columns mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Height</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Fee</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="(rewards$ | async) as rewards;">
                                <tr *ngFor="let reward of rewards; let i = index">
                                    <td><a [routerLink]="['/reward', reward.id]">{{ reward.id }}</a></td>
                                    <td>{{ reward.datetime | date:"medium" }}</td>
                                    <td>
                                        <span *ngFor="let block of reward.blocks; let last = last">
                                            <a href="https://www.spacescan.io/block/{{ block.farmed_height }}" target="_blank">{{ block.farmed_height }}</a>
                                            <span *ngIf="!last">,&nbsp;</span>
                                        </span>
                                    </td>
                                    <td>{{ reward.amount / 1000000000000 | number }} XCH</td>
                                    <td>{{ reward.fee / 1000000000000 | number }} XCH</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <div class="text-md-right float-md-end rewards-pagination">
                            <ngb-pagination [collectionSize]="rewardsCollectionSize" [(page)]="rewardsPage"
                                [pageSize]="rewardsPageSize" [maxSize]="10" [rotate]="true" [boundaryLinks]="true"
                                (pageChange)="refreshRewards()">
                            </ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
