<app-breadcrumbs title="Team" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<br />

<div class="row">

    <!-- pool.energy -->
    <div class="col-lg-4 col-team">
        <div class="modal-body">
            <div class="row card-team">
                <div class="col-lg-12">
                    <div class="px-1 pt-1">
                        <div class="modal-team-cover position-relative mb-0 mt-n4 mx-n4 rounded-top overflow-hidden">
                            <img src="assets/images/poolenergy/team/bg-1.png" alt="" id="cover-img" class="img-fluid">
                        </div>
                    </div>
                    <div class="text-center mb-4 mt-n5 pt-2">
                        <div class="position-relative d-inline-block"> 
                            <div class="avatar-lg">
                                <div class="avatar-title bg-light rounded-circle">
                                    <img src="assets/images/poolenergy/team/user-1.png" id="member-img" class="avatar-md rounded-circle h-auto" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3" align="center">
                        <h5>Pool.Energy</h5>
                    </div>
                    <div class="mb-4" align="center">
                        <h6>Owner</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- djerfy -->
    <div class="col-lg-4 col-team">
        <div class="modal-body">
            <div class="row card-team">
                <div class="col-lg-12">
                    <div class="px-1 pt-1">
                        <div class="modal-team-cover position-relative mb-0 mt-n4 mx-n4 rounded-top overflow-hidden">
                            <img src="assets/images/poolenergy/team/bg-2.jpg" alt="" id="cover-img" class="img-fluid">
                        </div>
                    </div>
                    <div class="text-center mb-4 mt-n5 pt-2">
                        <div class="position-relative d-inline-block">
                            <div class="avatar-lg">
                                <div class="avatar-title bg-light rounded-circle">
                                    <img src="assets/images/poolenergy/team/user-2.jpg" id="member-img" class="avatar-md rounded-circle h-auto" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3" align="center">
                        <h5>🌱 DJΞRFY 🚀</h5>
                    </div>
                    <div class="mb-4" align="center">
                        <h6>Fullstack Developer</h6>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
