<app-breadcrumbs title="Join" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<!-- requirements -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">REQUIREMENTS</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <div class="row">
                        <p>
                            Make sure you are using official Chia client supporting pool plots (1.2.0 or later).
                            You can <a href="https://docs.chia.net/pool-farming/" target="_blank">show official Chia instruction here</a>.
                        </p>
                        <br />
                        <p>
                            Before joining pool, your node and wallet must be fully synchronized with Chia blockchain.
                        </p>
                        <br />
                        <p>
                            You are going to need 1 Mojo (0.000000000001 XCH) which you can get through the official Faucet website :
                            <a href="https://faucet.chia.net" target="_blank">https://faucet.chia.net</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- pool -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">POOL ADDRESS</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <div class="row">
                        <p>
                            Global server: <a href="https://chia.pool.energy" target="_blank">https://chia.pool.energy</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- join -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">JOIN POOL FROM CLI</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <div class="row">
                        <p>
                            Get your wallet ID: <code>chia plotnft show</code>
                        </p>
                        <br />
                        <p>
                            Joining Pool.Energy pool with: <code>chia plotnft join -i WALLET_ID -u https://chia.pool.energy</code>
                        </p>
                        <br />
                        <p>
                            It will ask for your confirmation, check all details and confirm with Y.
                            <br />
                            Wait few minutes and enjoy! 🎉 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
