<app-breadcrumbs title="Join" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<!-- latency -->
<div class="row">
    <div class="col-xl-12">
        <div class="card crm-widget">
            <div class="card-body p-0">
                <div class="row row-cols-md-3 row-cols-1">
                    <div class="col col-lg border-end" *ngFor="let endpoint of endpoints">
                        <div class="py-4 px-3">
                            <h5 class="text-muted fs-13">Latency from {{ endpoint.name }} ({{ endpoint.url }})</h5>
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <i *ngIf="latencies[endpoint.url] < 40" class="ping-low ri-earth-line display-6 text-muted"></i>
                                    <i *ngIf="latencies[endpoint.url] >= 40 && latencies[endpoint.url] < 100" class="ping-medium ri-earth-line display-6 text-muted"></i>
                                    <i *ngIf="latencies[endpoint.url] >= 100" class="ping-high ri-earth-line display-6 text-muted"></i>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h2 class="mb-0">
                                        <span class="counter-value">
                                            {{ latencies[endpoint.url] !== undefined ? latencies[endpoint.url] : '...' }} ms
                                        </span>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- requirements -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">REQUIREMENTS</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <div class="row">
                        <p>
                            Make sure you are using official Chia client supporting pool plots, version 1.8.0 or later.
                            You can <a href="https://docs.chia.net/pool-farming/" target="_blank">show official Chia instruction here</a>.
                            Prior to the filter halving in June 2024, you <strong>must</strong> upgrade your farm/node to version 2.1.0 or later.
                            If you do not upgrade, you risk losing farming rewards.
                            Follow <a href="https://www.chia.net/2024/02/15/chia-blockchain-explainer-the-halvings/" target="_blank">Chia Blockchain Explainer the Halving</a>.
                        </p>
                        <br />
                        <p>
                            Before joining pool, your node and wallet must be fully synchronized with Chia blockchain.
                        </p>
                        <br />
                        <p>
                            You are going to need 1 Mojo (0.000000000001 XCH) which you can get through the official Faucet website :
                            <a href="https://faucet.chia.net" target="_blank">https://faucet.chia.net</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- pool -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">POOL ADDRESS</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <div class="row">
                        <p>
                            Global server: <strong><a href="https://chia.pool.energy" target="_blank">https://chia.pool.energy</a></strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- join -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">JOIN POOL FROM CLI</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <div class="row">
                        <p>
                            Get your wallet ID: <code>chia plotnft show</code>
                        </p>
                        <br />
                        <p>
                            Joining <strong>Pool.Energy</strong> pool with: <code>chia plotnft join -i WALLET_ID -u https://chia.pool.energy</code>
                        </p>
                        <br />
                        <p>
                            It will ask for your confirmation, check all details and confirm with Y.
                            <br />
                            Wait few minutes and enjoy! 🎉 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
