.ri-checkbox-circle-colored::before {
    color: green;
}

.ri-error-warning-colored::before {
    color: red;
}

.hr-opacity-line {
    background-color: #000000;
    opacity: 0.1;
    margin-left: 15px;
    margin-right: 15px;
}

.alert-custom-difficulty {
    margin-left: 2%;
}

.alert-global-save {
    margin: 1%;
}
