<app-breadcrumbs title="Farmer" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="profile-foreground position-relative mx-n4">
    <div class="profile-wid-bg">
        <img src="assets/images/cover-pattern.png" alt="" class="profile-wid-img" />
    </div>
</div>

<div class="pt-4 mb-4 mb-lg-3 pb-lg-4 profile-wrapper">
    <div class="row g-4">
        <div class="col-auto">
            <div class="avatar-lg">
                <img src="assets/images/users/user-dummy-img.jpg" alt="user-img" class="img-thumbnail rounded-circle" />
            </div>
        </div>
        <div class="col">
            <div class="p-2">
                <h3 class="text-white mb-1">Undefined</h3>
                <p class="text-white text-opacity-75">{{ launcher_id }}</p>
                <div class="hstack text-white-50 gap-1">
                    <div *ngIf="farmer.is_pool_member"><i class="ri-checkbox-circle-line me-1 text-white text-opacity-75 fs-16 align-middle"></i>Online</div>
                    <div *ngIf="!farmer.is_pool_member"><i class="ri-error-warning-line me-1 text-white text-opacity-75 fs-16 align-middle"></i>Offline</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-auto order-last order-lg-0">
            <div class="row text text-white-50 text-center">
                <div class="col-lg-6 col-4 banner-right-details">
                    <div class="p-2">
                        <h4 class="text-white mb-1">{{ farmer.estimated_size || 0 | filesize:{"base": 2, "standard": "iec"} }}</h4>
                        <p class="fs-14 mb-0">Estimated Size</p>
                    </div>
                </div>
                <div class="col-lg-6 col-4 banner-right-details">
                    <div class="p-2">
                        <h4 class="text-white mb-1">{{ farmer.share_pplns * 100 | number:"2.3" }}%</h4>
                        <p class="fs-14 mb-0">Utilization Space</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
