<app-breadcrumbs title="Stats" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<!-- pool size -->
<div class="row">
    <div class="col-xxl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Pool Space (7 days)</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <apx-chart
                        [series]="poolSizeChart.series"
                        [chart]="poolSizeChart.chart"
                        [labels]="poolSizeChart.labels"
                        [legend]="poolSizeChart.legend"
                        [dataLabels]="poolSizeChart.dataLabels"
                        [colors]="poolSizeChart.colors"
                        [xaxis]="poolSizeChart.xaxis"
                        [yaxis]="poolSizeChart.yaxis"
                        [stroke]="poolSizeChart.stroke"
                        dir="ltr">
                    </apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- mempool size -->
<div class="row">
    <div class="col-xxl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Mempool Size (7 days)</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <apx-chart
                        [series]="mempoolSizeChart.series"
                        [chart]="mempoolSizeChart.chart"
                        [labels]="mempoolSizeChart.labels"
                        [legend]="mempoolSizeChart.legend"
                        [dataLabels]="mempoolSizeChart.dataLabels"
                        [colors]="mempoolSizeChart.colors"
                        [xaxis]="mempoolSizeChart.xaxis"
                        [yaxis]="mempoolSizeChart.yaxis"
                        [stroke]="mempoolSizeChart.stroke"
                        dir="ltr">
                    </apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- netspace size -->
<div class="row">
    <div class="col-xxl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Netspace Size (7 days)</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <apx-chart
                        [series]="netspaceSizeChart.series"
                        [chart]="netspaceSizeChart.chart"
                        [labels]="netspaceSizeChart.labels"
                        [legend]="netspaceSizeChart.legend"
                        [dataLabels]="netspaceSizeChart.dataLabels"
                        [colors]="netspaceSizeChart.colors"
                        [xaxis]="netspaceSizeChart.xaxis"
                        [yaxis]="netspaceSizeChart.yaxis"
                        [stroke]="netspaceSizeChart.stroke"
                        dir="ltr">
                    </apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- xch price -->
<div class="row">
    <div class="col-xxl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">XCH Price (7 days)</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <apx-chart
                        [series]="xchPriceChart.series"
                        [chart]="xchPriceChart.chart"
                        [labels]="xchPriceChart.labels"
                        [legend]="xchPriceChart.legend"
                        [dataLabels]="xchPriceChart.dataLabels"
                        [colors]="xchPriceChart.colors"
                        [xaxis]="xchPriceChart.xaxis"
                        [yaxis]="xchPriceChart.yaxis"
                        [stroke]="xchPriceChart.stroke"
                        dir="ltr">
                    </apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- farmers / harvesters / partials -->
<div class="row">
    <!-- versions -->
    <div class="col-xxl-6">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Harvesters Versions</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <apx-chart
                        [series]="harvestersVersionsChart.series"
                        [chart]="harvestersVersionsChart.chart"
                        [labels]="harvestersVersionsChart.labels"
                        [legend]="harvestersVersionsChart.legend"
                        [dataLabels]="harvestersVersionsChart.dataLabels"
                        [colors]="harvestersVersionsChart.colors"
                        [xaxis]="harvestersVersionsChart.xaxis"
                        [yaxis]="harvestersVersionsChart.yaxis"
                        [stroke]="harvestersVersionsChart.stroke"
                        dir="ltr">
                    </apx-chart>
                </div>
            </div>
        </div>
    </div>

    <!-- partials -->
    <div class="col-xxl-6">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Partials Errors</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <apx-chart
                        [series]="partialsChart.series"
                        [chart]="partialsChart.chart"
                        [labels]="partialsChart.labels"
                        [legend]="partialsChart.legend"
                        [dataLabels]="partialsChart.dataLabels"
                        [colors]="partialsChart.colors"
                        [xaxis]="partialsChart.xaxis"
                        [yaxis]="partialsChart.yaxis"
                        [stroke]="partialsChart.stroke"
                        dir="ltr">
                    </apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>
