<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
               {{year}} © Pool.Energy
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    <a class="footer-link" href="github.com"> <i class="ri-telegram-fill"></i></a>
                    <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <a class="footer-link" href="github.com"> <i class="ri-twitter-fill"></i></a>
                    <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <a class="footer-link" href="github.com"> <i class="ri-reddit-fill"></i></a>
                    <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <a class="footer-link" href="github.com"> <i class="ri-youtube-fill"></i></a>
                    <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <a class="footer-link" href="github.com"> <i class="ri-facebook-fill"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
